/********************** global setting **********************/

$grey: #A0A0A0
$teal: #00b5ad

/************************************************************/

#home
  min-height: 680px
  padding: 1em 0

  h1
    font-size: 4em
    font-weight: normal
    margin-top: 2.5em

  h2
    font-size: 1.7em
    font-weight: normal

#browse

  .column[data-browse]
    cursor: pointer
    opacity: .45
    padding: 6em 3em

    &.chosen
      background-color: $teal!important
      opacity: 1

      .input
        pointer-events: auto

    .input
      margin-top: 1em
      pointer-events: none
      width: 80%

#search
  padding: 3em 0

  .header
    color: $grey
    font-style: italic
    font-weight: normal

    i
      margin: 0

  .menu.transition
    animation-duration: .17s

  .text i
    margin-left: 1em
    margin-right: 0

.navigator
  cursor: pointer
