html
  head
    link(rel='stylesheet' href='./app.css')
    script(src='/socket.io/socket.io.js')
    title p53BLV

  body
    #home.ui.inverted.vertical.masthead.center.aligned.segment
      .ui.container
        .ui.large.secondary.inverted.pointing.menu
          a.navigator.active.item(data-hash='home') Home
          a.navigator.item(data-hash='browse') Browse
          a.navigator.item(data-hash='search') Search

      .ui.text.container
        h1.ui.inverted.header p53BLV
        h2 Whole-Genome Binding Locations Viewer of Human p53
        .ui.huge.primary.button.navigator(data-hash='browse') Get Started #[i.right.arrow.icon]

    #browse.ui.vertical.segment
      .ui.equal.width.center.aligned.grid
        .row
          .grey.column(data-browse='customized')
            h2 Customized Browsing
            .ui.left.action.input
              button.ui.pink.labeled.icon.button #[i.map.pin.icon] Browsing Target
              input(placeholder='chr12:68808176 or MDM2' type='text')
            .ui.left.action.input
              button.ui.pink.labeled.icon.button #[i.world.icon] Browsing Range
              input(min='1' placeholder='10000' type='number')

          .grey.column.chosen(data-browse='global')
            h2 Global Browsing
            .ui.left.action.input
              button.ui.pink.labeled.icon.button #[i.map.pin.icon] Browsing Target
              input(disabled type='text' value='Whole Genome')
            .ui.left.action.input
              button.ui.pink.labeled.icon.button #[i.world.icon] Browsing Range
              input(disabled type='number' value='15000')

    #search.ui.vertical.segment
      .ui.middle.aligned.stackable.grid.container
        .row
          .left.aligned.column
            span.ui.huge.header #[i.angle.double.right.icon] Search TP53 binding information in the following datasets
            table.ui.definition.selectable.celled.table
              thead
                tr
                  th
                  th Dataset
                  th
                    .ui.dropdown
                      .text Gene List #[i.dropdown.icon]
                      .menu.transition.slide.down.in(data-list-chosen='HOMER')
                        .item(data-list='HOMER') HOMER
                        .item(data-list='CLC') CLC
                        .divider
                        .item(data-list='INTERSECTION') INTERSECTION
                        .item(data-list='UNION') UNION
                  th Cell Line
                  th TP53
                  th Treatment
                  th Reference
                  th GEO
              tbody
                script(type='x-tmpl-mustache')
                  | {{#db}}
                  tr
                    td.collapsing
                      .ui.fitted.slider.checkbox #[input(data-dataset='{{dataset}}' type='checkbox')] #[label]
                    td {{dataset}}
                    td.list.disabled HOMER
                    td {{cellLine}}
                    td {{tp53}}
                    td {{treatment}}
                    td #[a(href='{{reference.href}}') {{reference.title}}]
                    td #[a(href='{{GEO.href}}') {{GEO.title}}]
                  | {{/db}}

        .row
          .center.aligned.column
            button.ui.primary.button Search

    #result.ui.vertical.segment.inverted.teal
      .ui.middle.aligned.stackable.grid.container
        .row
          .left.aligned.column
            span.ui.huge.header #[i.angle.double.right.icon] Search Result
            table.ui.selectable.celled.structured.table
              thead
                script(type='x-tmpl-mustache')
                  tr
                    th(rowspan='2') Gene Symbol
                    | {{#wildtype}}
                    th(colspan='{{.}}') WT TP53
                    | {{/wildtype}}
                    | {{#mutant}}
                    th(colspan='{{.}}') Mutant TP53
                    | {{/mutant}}
                    th(data-sort-by-occurrence rowspan='2').sortable Occurrence
                    th(rowspan=2) Detail
                  tr
                    | {{#datasets}}
                    th(data-dataset='{{.}}').sortable {{.}}
                    | {{/datasets}}
              tbody
                script(type='x-tmpl-mustache')
                  | {{#gene_list}}
                  tr
                    td #[a(href='{{reference}}' target='_blank') {{gene_name}}]
                    | {{#datasets}}
                    td {{{.}}}
                    | {{/datasets}}
                    td {{occurrence}}
                    td #[a(data-plot='{{gene_name}}') Link]
                  | {{/gene_list}}
              tfoot
                script(type='x-tmpl-mustache')
                  tr
                    th(colspan='{{colspan}}')
                      .ui.right.floated.pagination.menu
                        a.icon.item(data-page-minus) #[i.left.chevron.icon]
                        a.item(data-page='1') 1
                        | {{#pre_escape}}
                        a.item.disabled ...
                        | {{/pre_escape}}
                        | {{#pages}}
                        a.item(data-page='{{.}}') {{.}}
                        | {{/pages}}
                        | {{#post_escape}}
                        a.item.disabled ...
                        | {{/post_escape}}
                        | {{#last_page}}
                        a.item(data-page='{{.}}') {{.}}
                        | {{/last_page}}
                        a.icon.item(data-page-plus) #[i.right.chevron.icon]

    #plot.ui.vertical.segment(data-show='plot-track')
      .ui.middle.aligned.stackable.grid.container
        .row
          .left.aligned.column
            span.ui.huge.header #[i.angle.double.right.icon] Plot
            #plot-peak
            #plot-track

    script(src='./app.js')
