html
  head
    link(rel='stylesheet' href='./app.css')
    title Programming for Computational Systems Biology

  body
    ul#setting
      script(type='x-tmpl-mustache')
        | {{#tid}}
        li
          h4 {{.}}
          input.tgl(id='{{.}}' type='checkbox')
          label.tgl-btn(data-tid='{{.}}' data-tg-off='OFF' data-tg-on='ON' for='{{.}}')
        | {{/tid}}

    #results
      script(type='x-tmpl-mustache')
        | {{#tid}}
        div(id='plot_{{.}}')
        | {{/tid}}

    script(src='./app.js')
